
a {
  color: #00B7FF;
}
.line-ur input, .function input {
	width:50px;
	padding-right:5px;
}
.line-ur input:focus, .function input:focus {
	box-shadow: 0px 0px 5px blue;
	-webkit-box-shadow: 0px 0px 5px blue;
	-moz-box-shadow: 0px 0px 5px blue;
}
.function {
    margin-top:30px;
}
#main-submit, #submit-child {
	width:100px;
	height:30px;
	background: green;
	border-radius:0;
	color:white;
	border:none;
	margin:30px 0 0 40px;
	cursor:pointer;
}
#message-tables {
	margin-top:50px;
}
#message-tables table {
	border: 1px solid #ececec;
	margin-left:30px;
}
#message-tables td {
	padding:10px;
	border: 1px solid #ececec;
}
#grap-canvas {
	display:block;
	margin-top:30px;
	width:500px;
}
.box {
    width:980px;
    margin:0 auto;
}
.table-1, .table-2 {
    display:inline-block;
    margin-left:30px;
}
.none {
    display:none;
}